<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://ingresso-a.akamaihd.net/b2b/production/uploads/article/image/914/pantera-negra-legado-do-chadwick-boseman.jpeg" alt="" height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ratione voluptate provident mollitia deleniti
      ad sunt! Nobis, dolor. Consectetur, dolorem accusantium totam veniam ipsum quas?</p>
  </div>
</div>
